body {
  margin: 0px;
  color: #2c3e50;
  background-color: #ecf0f1;
  font-size: 1.1em;
}

.main {
  width: 590px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  border: 1px solid #77777769;
  background-color: #fdfdfd;
  box-shadow: 0 0 1em #80808066;
  border-radius: 4px;
}

.main h1 {
  font-family: "Francois One";
  margin-top: 0;
  font-size: 35px;
  margin-bottom: 20px;
  padding: 5px;
  color: #2c3e50;
}

form {
  display: grid !important;
}

form input[type="text"] {
  width: 400px;
  font-size: 12px;
  padding: 5px;
  border-radius: 4px;
  border-width: 1px;
  margin-bottom: 1%;
}

form button {
  width: 30%;
  background-color: #2c3e50;
  color: white;
  border-radius: 4px;
}

form textarea {
  width: 100%;
  height: 150px;
  font-size: 12px;
  margin-top: 2px;
  resize: none;
  border-radius: 4px;
}
.all-product {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.product-list-item {
  background-color: #f4f1e9;
  border: 1px solid #d1ccc0; 
  padding: 15px;
  width: 250px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

.product-list-item-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #2c3e50; 
}

.product-list-item-byline {
  font-size: 14px;
  color: #6e6e6e;
}

.product-list-item-byline-available {
  color: #27ae60; 
}

.product-list-item-lede img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}


.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd; 
  border-radius: 4px;
  margin-right: 8px;
  flex-grow: 1;
}

.search-button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #2c3e50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover,
.search-button:focus {
  background-color: #8B4513; 
}

.coffee-nav {
  background-color: #8B4513; 
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Francois One", sans-serif;
  color: #fff; 
}

.create-post {
  background-color: #f9f9f9; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

.new-post-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.new-post-form {
  display: flex;
  flex-direction: column;
}

.input-field,
.textarea-field {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd; 
  border-radius: 4px;
}

.publish-button {
  padding: 10px;
  font-size: 16px;
  background-color: #2c3e50;
  color: #fff; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.publish-button:hover {
  background-color: #1a2533; 
}

.coffee-nav div {
  cursor: pointer;
}

.nav-selected {
  border-bottom: 2px solid #fff; 
  padding-bottom: 8px;
}

.main-content {
  padding: 20px;
}


.single-product {
  background-color: #f9f9f9; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  color: #333; 
  margin-bottom: 10px;
}

.product-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.product-rating,
.product-date {
  font-size: 16px;
  color: #555; 
}

.product-votes {
  font-size: 18px;
  color: #2c3e50; 
}



  