
.App-header {

  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;

  
  
}

.App-link {
  color: #61dafb;
}


a{
  text-decoration: none;
}
ul, li {
padding: 2px;
align-items: center;
} 

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

li{
  text-align: left;
}
.signin{
  display:grid;
  text-align: left;
  border: 1px solid white;
  width: 400px;
  /* align-content: space-between; */
  align-items: start;
}

.sectionul {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  align-items: flex-start;
}


table, th, tr {
  border:1px solid #fb6161;
}



.edit{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
    flex-wrap: wrap;
}

.pwd {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
    flex-wrap: wrap;
}



.middle{
width: 60%;
/* height: 100vh; */
background-color:lightcyan;
border-radius: 15px;
}
/* style={{"width":"60%","height":"400px"}} */
/* style={{"width":"70%","height":"400px"}} */
.sidel {
width: 25%;
height: 50vh;
background-color: lightskyblue;

}
.sider {
width: 15%;
height: 100vh;
background-color: lightskyblue;

}

.sectionul{
list-style-type: none;
color:black

}

.container{
display: flex;
align-items: center;
    justify-content: center;
}

textarea {
  resize: none;
  height: 80px;
  border:none;
  /* width: 600px; */
}

.propic{
  width: 80px;
  height:80px;
  border-radius: 50%;
  border:2px solid #fff;
}

.pprofie{
  display: flex;
    flex-direction: column;
    align-items: center;
}


.posts{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border:1px solid black;

}


.postss{
  display: flex;
    flex-direction: column;
    align-items: center;
  
}

.top-left{
  position: relative;
  left: 230px;
  top: auto
}



/* signup */
.background1{
  width: 530px;
  height: 520px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}
.background1 .shape1{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape1 :first-child {
  background: linear-gradient(
      #1845ad,
      #23a2f6
  );
  left: -80px;
  top: -80px;
}
.shape1 :last-child {
  background: linear-gradient(
      to right,
      #ff512f,
      #f09819
  );
  right: -30px;
  bottom: -80px;
}

.form1{
  height: 400px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}
.form1 *{
  font-family: 'Poppins',sans-serif;
  color: #000;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.form1 h3 {
  font-size: 32px;
  /* font-weight: 500; */
  line-height: 42px;
  text-align: center;
  color:black;
}
h3{
  color: black;
}

p{
  color: black;
}
.l{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
.input1{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  border: 1px solid black;
}
::placeholder{
  color: #e5e5e5;
}
.btn1 {
  margin-top: 30px;
  width: 60%;
  background-color: #ffffff;
  color: #000000;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 900;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid black;
}
.a{
  color: #080710;
}

/* login */
.bg2{
  width: 430px;
  height: 360px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}
.bg2 shape{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape2, .one {
  background: linear-gradient(
      #1845ad,
      #23a2f6
  );
  left: -80px;
  top: -80px;
}
.shape2, .tow {
  background: linear-gradient(
      to right,
      #ff512f,
      #f09819
  );
  right: -30px;
  bottom: -80px;
}
.shape2, .ther{
  background: linear-gradient(
      to right,
      #6dff2f,
      #19f0b7
  );
  right: -90px;
  bottom: -60px;
} 
.shape2, .four {
  background: linear-gradient(
      to right,
      #f82fff,
      #f0199e
  );
  right: -70px;
  bottom: -50px;
}
.form2{
  height: 520px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}
.form2 *{
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.form2 h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.l1{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
.input2{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  color:red;
  border: 1px solid black;
}
::placeholder{
  color: #000;
}
.btn2 {
  margin-top: 30px;
  width: 60%;
  background-color: #000;
  color: #9182ff;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 900;
  border-radius: 5px;
  cursor: pointer;
  color:red;
  border: 1px solid black;
}
.a2{
  color: #080710;
}